In [53]:
import pandas as pd

In [54]:
 # Create a reference the CSV file desired
csv_path = "Resources/books2.csv"

# Read the CSV into a Pandas DataFrame
books2_df = pd.read_csv(csv_path)

# Print the first five rows of data to the screen
books2_df.head()

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher,Unnamed: 12
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,439785960,9780439785969,eng,652,2095690,27591,9/16/2006,Scholastic Inc.,NaN
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,439358078,9780439358071,eng,870,2153167,29221,9/1/2004,Scholastic Inc.,NaN
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,439554896,9780439554893,eng,352,6333,244,11/1/2003,Scholastic,NaN
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,043965548X,9780439655484,eng,435,2339585,36325,5/1/2004,Scholastic Inc.,NaN
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,439682584,9780439682589,eng,2690,41428,164,9/13/2004,Scholastic,NaN

In [55]:
#dropped unwanted columns
Drop_column_bookdf = books2_df.drop(['bookID','language_code','Unnamed: 12'], axis=1)
#reorder columns
reorder_col_bookdf = Drop_column_bookdf[['isbn13', 'title', 'authors', '  num_pages','publisher','publication_date', 'isbn', 'average_rating', 'ratings_count', 'text_reviews_count',]]
#rename columns
rename_bookdf = reorder_col_bookdf.rename(columns={'isbn13': 'Book ID (Isbn-13)','title': 'Title', 'authors': 'Authors', 
                                                    '  num_pages': 'Number of Pages','publisher':'Publisher','publication_date':'Publication Date',
                                                    'isbn':'ISBN','average_rating':'Average Rating','ratings_count':'Ratings Count',
                                                    'text_reviews_count': 'Text Review Count'})
#new index
rename_booksdf = rename_bookdf.set_index('Book ID (Isbn-13)')
rename_booksdf.head()

,Title,Authors,Number of Pages,Publisher,Publication Date,ISBN,Average Rating,Ratings Count,Text Review Count
Book ID (Isbn-13),,,,,,,,,
9780439785969,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,652,Scholastic Inc.,9/16/2006,439785960,4.57,2095690,27591
9780439358071,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,870,Scholastic Inc.,9/1/2004,439358078,4.49,2153167,29221
9780439554893,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,352,Scholastic,11/1/2003,439554896,4.42,6333,244
9780439655484,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,435,Scholastic Inc.,5/1/2004,043965548X,4.56,2339585,36325
9780439682589,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,2690,Scholastic,9/13/2004,439682584,4.78,41428,164

In [56]:
#set all review data into dataframe
book_review_df = rename_booksdf[['Average Rating','Ratings Count','Text Review Count']]
book_review_df.head()

                  Average Rating  Ratings Count  Text Review Count
Book ID (Isbn-13)
9780439785969               4.57        2095690              27591
9780439358071               4.49        2153167              29221
9780439554893               4.42           6333                244
9780439655484               4.56        2339585              36325
9780439682589               4.78          41428                164

In [57]:
#set all book info into dataframe
book_info_df = rename_booksdf[['Title','Authors','Number of Pages','Publisher','Publication Date', 'ISBN']]
book_info_df.head()

,Title,Authors,Number of Pages,Publisher,Publication Date,ISBN
Book ID (Isbn-13),,,,,,
9780439785969,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,652,Scholastic Inc.,9/16/2006,439785960
9780439358071,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,870,Scholastic Inc.,9/1/2004,439358078
9780439554893,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,352,Scholastic,11/1/2003,439554896
9780439655484,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,435,Scholastic Inc.,5/1/2004,043965548X
9780439682589,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,2690,Scholastic,9/13/2004,439682584

In [58]:
df = rename_booksdf.loc[(rename_booksdf['Average Rating']>= '4.5') & (rename_booksdf['Ratings Count']>=100000), :]
df

,Title,Authors,Number of Pages,Publisher,Publication Date,ISBN,Average Rating,Ratings Count,Text Review Count
Book ID (Isbn-13),,,,,,,,,
9780439785969,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,652,Scholastic Inc.,9/16/2006,439785960,4.57,2095690,27591
9780439655484,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,435,Scholastic Inc.,5/1/2004,043965548X,4.56,2339585,36325
9780345538376,J.R.R. Tolkien 4-Book Boxed Set: The Hobbit an...,J.R.R. Tolkien,1728,Ballantine Books,9/25/2012,345538374,4.59,101233,1550
9781591169208,Fullmetal Alchemist Vol. 1 (Fullmetal Alchemi...,Hiromu Arakawa/Akira Watanabe,192,VIZ Media LLC,5/3/2005,1591169208,4.5,111091,1427
9780141014081,The Complete Maus,Art Spiegelman,296,Penguin Books,10/2/2003,141014083,4.55,111475,5966

In [59]:
#export 2nd bookdf to csv
book_info_df.to_csv('book_info.csv')

#export cleaned df to csv (main csv file we'll be working with)
rename_booksdf.to_csv('book_df.csv')

#export ratings into csv
book_review_df.to_csv('book_ratings.csv')